<div class="layui-footer {if $layer == true}layui-hide{/if}">
    Copyright © 2019-2022 {$miappcms.name}. All rights reserved.
</div>
</div>

<script src="__PLUGINS__/pjax/jquery.pjax.min.js"></script>
<!-- codemirror -->
<script src="__PLUGINS__/codemirror/codemirror.js"></script>
<script src="__PLUGINS__/codemirror/mode/css/css.js"></script>
<script src="__PLUGINS__/codemirror/mode/xml/xml.js"></script>
<script src="__PLUGINS__/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<link rel="stylesheet" href="__CSS__/miappcms.css">
<script src="__JS__/miappcms.js"></script>

</body>
</html>