<!-- Color Switcher end -->
<!-- jquery
      ============================================ -->
<script src="{$public}extends/js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
      ============================================ -->
<script src="{$public}extends/js/bootstrap.min.js"></script>
<!-- nivo slider js
      ============================================ -->
<script src="{$public}extends/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
<script src="{$public}extends/lib/nivo-slider/home.js" type="text/javascript"></script>
<!-- meanmenu JS
      ============================================ -->
<script src="{$public}extends/js/jquery.meanmenu.js"></script>
<!-- wow JS
      ============================================ -->
<script src="{$public}extends/js/wow.min.js"></script>
<!-- owl.carousel JS
      ============================================ -->
<script src="{$public}extends/js/owl.carousel.min.js"></script>
<!-- scrollUp JS
      ============================================ -->
<script src="{$public}extends/js/jquery.scrollUp.min.js"></script>
<!-- Waypoints JS
      ============================================ -->
<script src="{$public}extends/js/waypoints.min.js"></script>
<!-- Counterup JS
      ============================================ -->
<script src="{$public}extends/js/jquery.counterup.min.js"></script>
<!-- Slick JS
      ============================================ -->
<script src="{$public}extends/js/slick.min.js"></script>
<!-- Animated Headlines JS
      ============================================ -->
<script src="{$public}extends/js/animated-headlines.js"></script>
<!-- Textilate JS
      ============================================ -->
<script src="{$public}extends/js/textilate.js"></script>
<!-- Lettering JS
      ============================================ -->
<script src="{$public}extends/js/lettering.js"></script>
<!-- Video Player JS
      ============================================ -->
<script src="{$public}extends/js/jquery.mb.YTPlayer.js"></script>
<!-- plugins JS
      ============================================ -->
<script src="{$public}extends/js/plugins.js"></script>
<!-- StyleSwitch JS
      ============================================ -->
<script src="{$public}extends/js/styleswitch.js"></script>
<!-- main JS
      ============================================ -->
<script src="{$public}extends/js/main.js"></script>  
