<div class="marb20">
    <div class="layui-form-item marb0 miappcms-form-element[keyword]">
        <label class="layui-form-label "> 
            {if $form[keyword].required == 1}
                <span class="yd">*</span> 
            {/if}
            {$form[keyword].title}： 
        </label>
        <div class="layui-input-inline">
            <input type="text" name="{$form[keyword].name}" {if $form[keyword].required == 1} required  lay-verify="required" {/if} placeholder="{$form[keyword].placeholder}" autocomplete="off" class="layui-input" value="{$form[keyword].value}" lay-reqText="请输入">
        </div>
        {notempty name="form[keyword].tips"}
        <div class="miappcms-form-desc marb0">
            <i class="fa fa-info-circle"></i> {$form[keyword].tips}
        </div>
        {/notempty}
    </div>
</div>
