<link rel="stylesheet" href="__PLUGINS__/zTree/css/zTreeStyle/zTreeStyle.css">

<script>
    var setting = {
		check:{
			enable:true	
		}
        ,data:{
			simpleData:{
				enable: true,
        	}
	 	},
    };
    var zNodes =[
		{volist name="menuNode" id="val"}
			{ "id":"{$val.id}", "pId":"{$val.pid}", "name":"{$val.title}", "checked":'{$val.checked ? "true" : "false"}', "open":true},
		{/volist}
	];


</script>

<div class="miappcms-containers">
    <div class="layui-row">
        <div class="layui-col-md12">
			<div class="zTreeDemoBackground">
				<ul id="miappcms-tree" class="ztree"></ul>
			</div>
			<div class="auth-button">
				<button id="getChecked" class="layui-btn layui-btn-normal" >提交</button>
			</div>
        </div>
    </div>
</div>
<script>
	
function setCheck() {
	var zTree = $.fn.zTree.getZTreeObj("miappcms-tree");
	zTree.setting.check.chkboxType = { "Y":"ps", "N":"s"}; //勾选 checkbox 对于父子节点的关联关系。默认值：{ "Y": "ps", "N": "ps" }
}

$(document).ready(function(){
	$.fn.zTree.init($("#miappcms-tree"), setting, zNodes);
	setCheck();
});

$("#getChecked").on('click',function(){
	var treeObj = $.fn.zTree.getZTreeObj("miappcms-tree");
	var nodes = treeObj.getCheckedNodes(true);
	var checksData = "";
	for(var i=0;i<nodes.length;i++){
		checksData+=nodes[i].id+",";
	}
	// 去除尾部的 ,
	checksData = checksData.slice(0,checksData.length-1);
	$.post("{:url('authPost')}",{id:'{$id}',auth:checksData},function(data,status,xhr){
		if(status === 'error'){
         miappcms.alerterror("网络错误");
        }
		if(data.code === 1){
			window.location.reload()
		}else{
			miappcms.alerterror(data.msg,"error");
		}
	});
	
	console.log(checksData);	
});
</script>